.ant-carousel .slick-slide {
  text-align: left;
  height: 500px;
  line-height: 30px;
  background: #364d79;
  overflow: hidden;
  color: #fff
}

.ant-carousel .slick-slide h1, h2, h3 {
  color: #fff;
}

.title1 {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  margin-top: 80px;
}

.textbox1 {
  text-align: left;
  font-size: 12pt;
  color: #fff;
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.title {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}

.textbox {
  text-align: left;
  font-size: 12pt;
  color: #fff;
  width: 500px;
  margin-top: 80px;
  margin-left: 60px;
  margin-right: 60px;
}

.imgbox {
  margin-top: 80px;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin-right: 150px;
  margin-left: auto;
  border:1px solid #fff;
}

.container {
  display: inline-flex;
  flex-direction: row;
}