.ant-carousel .slick-slide {
  text-align: left;
  height: 500px;
  line-height: 30px;
  background: #364d79;
  overflow: hidden;
  color: #fff
}

.ant-carousel .slick-slide h1, h2, h3 {
  color: #fff;
}

.title {
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
  margin-top: 80px;
}

.textbox {
  text-align: left;
  font-size: 12pt;
  color: #fff;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 30px;
}

.imgbox {
  height: 50%;
  width: 50%;
  margin-left: 25%;
}