.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 40%;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  //background: #eeeeee;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  padding: 60px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #eeeeee;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #8b939a;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  color: #ffffff;
  //background: #eeeeee;


}